body{
background-color:#260116;
color:#cffcfa;
font-style:sans-serif, italic, Georgia;
padding:0px  30px 0px  35px;
}

p{
text-indent:10px;
}

.p1{
text-aling:left;
margin-left:4px;

}


h2, h3{
font-family:serif

}
table{
border:2px;
}

.t1, .t2, .t3{
border-collapse:collapse;
border-style:solid;
border-width:4px;
border-color:#cffcfa;
background-color:#cffcfa;
color:#042738;
margin-left:10px;
padding:2px 3px 2px 3px;
outline-style:inset;
outline-color:grey;
outline-width:5px;
border:5;
padding:2px;
}

td{
border:2px solid #260116;
padding:1px;

}

.sher{
width:180px;
height:180px;


}

ul{
padding-left:10px;
list-style:circle;

}



li {
padding-left:1px;

}

a:link {
color:#cffcfa;
text-decoration:none;
font-weight:bold;
}
a:visited{
color:black;
text-decoration:none;
}
a:hover{
text-decoration:none;
color:#042738;

}
a:active{
color:black;
text-decoration:underline;
}

#DrStrange{
width:100%;

}

#sherlocklink{
position:relative;
left:300px;
bottom:22px;
background-color:#edd0de;
width:85px;
height:30px;
padding:7px 4px 0px 4px;

}
#homelink{
position:relative;
left:170px;
bottom:60px;
background-color:#edd0de;
width:60px;
height:30px;
padding:7px 4px 0px 7px;

}

#filmlink{
position:relative;
top:15px;
background-color:#edd0de;
width:120px;
height:30px;
padding:7px 4px 0px 6px;

}
 #imitationgame{
 position:absolute;
 width:50%;
 height:290px
 }
 
 #startrek{
 position:absolute;
 width:50%;
 margin-left:50%;
height:290px;
 }
#sherlockwall{
width:80%;
height:300px;
margin-left:10%;
}
#movie1{
position:absolute;
left:810px;
top:456px;
width:350px;
border-style:solid;
border-width:3px;
border-color:#3b3d3f;
}
#movie2{
position:absolute;
left:810px;
top:731px;
width:350px;
border-style:solid;
border-width:3px;
border-color:#3b3d3f;
}
#movie3{
position:absolute;
left:810px;
top:1016px;
width:350px;
border-style:solid;
border-width:3px;
border-color:#3b3d3f;

}

#tv1{
position:absolute;
left:880px;
top:1420px;
width:270px;
height:324px;
border-style:solid;
border-width:3px;
border-color:#3b3d3f;

}

#tv2{
position:absolute;
left:880px;
top:1790px;
width:270px;
height:324px;
border-style:solid;
border-width:3px;
border-color:#3b3d3f;

}
#sh1{
position:absolute;
left:880px;
top:756px;
width:350px;
border-style:solid;
border-width:3px;
border-color:#3b3d3f;

}
#sh2{
position:absolute;
left:880px;
top:1050px;
width:350px;
border-style:solid;
border-width:3px;
border-color:#3b3d3f;

}
#sh3{
position:absolute;
left:880px;
top:1386px;
width:350px;
border-style:solid;
border-width:3px;
border-color:#3b3d3f;

}

#sh4{
position:absolute;
left:880px;
top:1716px;
width:350px;
border-style:solid;
border-width:3px;
border-color:#3b3d3f;

}

#sh5{
position:absolute;
left:880px;
top:2046px;
width:350px;
border-style:solid;
border-width:3px;
border-color:#3b3d3f;

}
